---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: name-tests-test
        exclude: tests/client.py
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        args: ["--line-length=120"]
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ["--max-line-length=120"]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-sync
      - id: uv-lock
  - repo: https://github.com/mxab/pre-commit-trivy.git
    rev: v0.16.0
    hooks:
      - id: trivyfs-docker
        args:
          - "--scanners"
          - "secret"
          - .
