[tools]
python = "3.12"
uv = "latest"
pre-commit = "latest"

[env]
_.python.venv = { path = ".venv", create = true }
PYTHONPATH = "{{ cwd }}/.venv/lib/python3/site-packages/"

[settings]
python.uv_venv_auto = true
python.compile = false
experimental = true

[tasks.pre-commit]
description = "Install and pre-commit"
run = "pre-commit install"

[tasks.dev]
description = "Run the typer client (use --profile to specify profile from profile.toml)"
run = "uv run src/rubber_duck/main.py $@"
depends = ["openapi-client-generator"]

[tasks.test]
description = "Run the pytests"
run = "uv run pytest --maxfail=1 --cov --cov-report=term-missing"
depends = ["openapi-client-generator"]

[tasks.coverage]
description = "Get test coverage report"
run = "uv run coverage report"

[tasks.openapi-client-generator]
description = "Generate open api client library"
run = "openapi-python-client generate --path ./openapi.yaml --output-path ./src/rubber_duck/clients --overwrite --meta uv"

[hooks]
postinstall = ["mise pre-commit"]
enter = [
  "mkdir -p {{ cwd }}/.venv/lib/python3",
  "ln -sf {{ cwd }}/.venv/lib/python3*/site-packages {{ cwd }}/.venv/lib/python3/site-packages",
  "mise x -- uv sync",
]
